body {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100vh;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: #fff;
  user-select: none;
}

.game-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.game-item__image {
  pointer-events: none;
}

.botonend {
  animation-duration: 2s;
  animation-name: slidein;
  opacity: 0;
  z-index: -1000;
}

.botonstart:hover {
  background-color: rgba(0, 115, 255, 0.607);
}

.botonstart {
  background-color: rgb(10, 132, 246);
  width: 150px;
  height: 150px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: cursive;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
}

@keyframes slidein {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
